<div class="col-sm-12 col-lg-12" id="Redeem">
    
  <div id="roomlist">
    <div class="col-sm-12 col-lg-12 padnone">
      <div class="animated fadeIn">
        <div class="col-sm-12 col-lg-12 padnone">
          <mat-card class="matCard">
            <mat-card-header>
              <div class="mat-card-header-text">
                <h5>Search Gameroom</h5>
              </div>
              <mat-form-field appearance="outline">
                <mat-label>Search Room</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>

              <div class="mat-card-header-text-2">
              <ngx-mat-drp (selectedDateRangeChanged)="updateRange($event)" [options]="options" #dateRangePicker></ngx-mat-drp></div>
            </mat-card-header>
            <mat-card-content>
              <div class="mat-elevation-z8">
                <div class="mat-table-min-height">
                  <mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="phone">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> User Phone </th>
                      <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
                    </ng-container>
                    <ng-container matColumnDef="redeemcoins">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> User Redeem </th>
                      <td mat-cell *matCellDef="let row"> {{row.redeemcoins}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="created_on">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Created </th>
                      <td mat-cell *matCellDef="let row"> {{row.created_on | date:'medium'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="paynumber">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pay Number</th>
                      <td mat-cell *matCellDef="let row"> {{row.paynumber}} </td>
                    </ng-container>
                    <ng-container matColumnDef="paytype">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pay Type</th>
                      <td mat-cell *matCellDef="let row"> {{row.paytype}} </td>
                    </ng-container>
                    <ng-container matColumnDef="payupiid">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pay Details</th>
                      <ng-container *matCellDef="let row">
                        <td mat-cell *ngIf="(row.payupiid); else ''">  {{row.payupiid}} </td>
                      </ng-container>
                    </ng-container>
                    <ng-container matColumnDef="account" >
                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="display:none;"> Account Details</th>
                       <ng-container *matCellDef="let row">
                        <td mat-cell *ngIf="(row.account); else ''">  Account Number : {{row.account.accountnum}}
                          Account IFSC : {{row.account.accountifsc}}
                          Account Name : {{row.account.accountname}}
                          Account Branch : {{row.account.accountbranchname}} </td>
                      </ng-container>
                    </ng-container>
                    <ng-container matColumnDef="is_active">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                      <td mat-cell *matCellDef="let row">
                        <button mat-button class="paid-btn" *ngIf="row.is_active==1" (click)="openDialog(row._id,'update')">PAID</button>
                        <button mat-button class="update-paid-btn" *ngIf="row.is_active==0" (click)="openDialog(row._id,'paid')">UPDATE PAY</button>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="updated_on">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Modified </th>
                      <td mat-cell *matCellDef="let row"> {{row.updated_on | date:'medium'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name_of_payer">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Payed By </th>
                      <td mat-cell *matCellDef="let row"> {{row.name_of_payer}} </td>
                    </ng-container>
                    <ng-container matColumnDef="paytm_ref_id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Reference No. </th>
                      <td mat-cell *matCellDef="let row"> {{row.paytm_ref_id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="reason">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Reason </th>
                      <td mat-cell *matCellDef="let row"> {{row.reason}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                      <td mat-cell *matCellDef="let row"> {{row._id}} </td>
                    </ng-container>
                   
                    <ng-container matColumnDef="_userId">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> User Id </th>
                      <td mat-cell *matCellDef="let row"> {{row._userId}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                  </mat-table>
                </div>
                <mat-paginator #scheduledOrdersPaginator showFirstLastButtons [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
              </div>
            </mat-card-content>
          </mat-card>

        </div>

      </div>
    </div>
  </div>

  <!--/.Cont Animation-->
</div>
<!--/.Container-->