<app-header-old></app-header-old>
<div class="app-body">
  <app-sidebar-old></app-sidebar-old>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <!-- <a class="btn" href="#"><i class="icon-speech"></i></a> -->
          <a class="btn" [routerLink]="['/home']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
        </div>
      </li>
    </cui-breadcrumb>
    <div class="container-fluid" style="padding:0;">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
  <!-- <app-aside-old></app-aside-old> -->
</div>
<app-footer-old></app-footer-old>
